<h1 class="text-center text-primary-theme"> About Us <i class="fa fa-info text-dark"></i></h1>

<h4>We're more than just an e-shop – we're your trusted companion in creating a better, more comfortable life. Our
    passion lies in curating an extraordinary collection of home products, culinary delights, sports equipment, and
    beauty essentials that elevate your lifestyle</h4>


<app-card title="Our Vision" [hasActions]="false" [hasImage]="false"
    content="Our vision is simple yet profound: We aspire to be your one-stop destination for all things essential and enjoyable. We believe that the products you choose for your home, your kitchen, your fitness journey, and your personal care routine should reflect your unique style and enhance your daily experiences">
</app-card>

<app-card title="What Sets Us Apart?" class="px-5" [hasActions]="false" [hasImage]="false"
    content="Diverse Selection: From state-of-the-art kitchen electronics that turn meal preparation into a joyous affair to the finest foods that tantalize your taste buds, we offer a diverse range of products that cater to your every need.

    Quality Assurance: We understand the importance of quality, which is why we handpick products from trusted brands known for their durability and reliability. Every item in our store is a testament to our commitment to excellence.
    
    Wellness and Fitness: We're not just about products; we're about well-being. Dive into our sports equipment section and discover the tools to unlock your athletic potential, promoting a healthier, happier you.
    
    Beauty Reinvented: Experience the world of beauty like never before with our meticulously curated selection of cosmetic and self-care products. Embrace self-expression, confidence, and timeless beauty.
    
    Customer-Centric Approach: Your satisfaction is our priority. We're dedicated to providing exceptional customer service, ensuring that your shopping experience is seamless and enjoyable from start to finish">
</app-card>

<app-card title="Shop with Confidence" class="px-5" [hasActions]="false" [hasImage]="false"
    content="Rest easy knowing that when you shop with us, you're making an investment in quality, style, and well-being. Every product we offer is designed to enhance your life and make each day a little brighter">
</app-card>

<app-card title="Join Our Community" [hasActions]="false" [hasImage]="false"
    content="We believe in building a community of like-minded individuals who appreciate the finer things in life. Whether you're a culinary enthusiast, a fitness fanatic, a beauty aficionado, or simply someone who values the comforts of home, we invite you to join us on this exciting journey">
</app-card>