<mat-list role="list">
    <mat-list-item role="listitem"><span class="fw-bold">Address: </span> 123 Main Street, Skopje, Macedonia, 1234</mat-list-item>
    <mat-list-item role="listitem"><span class="fw-bold">Phone: </span> (123) 456-7890</mat-list-item>
    <mat-list-item role="listitem"><span class="fw-bold">Customer support: </span> support@eshop.com</mat-list-item>
    <mat-list-item role="listitem"><span class="fw-bold">Human resources: </span> hr@eshop.com</mat-list-item>
    <mat-list-item role="listitem"><span class="fw-bold">Operating Hours: </span> Monday to Friday, 9:00 AM - 7:00 PM</mat-list-item>
    <mat-list-item role="listitem"><span class="fw-bold">Social media: </span></mat-list-item>
    <mat-list-item role="listitem"><i class="pe-2 fa fa-facebook fw-bold"></i> eshop</mat-list-item>
    <mat-list-item role="listitem"><i class="pe-2 fa fa-instagram fw-bold"></i> eshop</mat-list-item>
    <mat-list-item role="listitem"><i class="pe-2 fa fa-twitter fw-bold"></i> eshop</mat-list-item>
</mat-list>