<div class="container-fluid">
    <div class="row m-2" *ngFor="let item of getCartItems()">
        <mat-card *ngIf="item.quantity > 0">
            <mat-card-header>
                <mat-card-title>{{item.product.name}}</mat-card-title>
                <mat-card-subtitle>$ {{item.product.price}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <button mat-button>
                    <i class="fa fa-plus" (click)="quantityUp(item)"></i>
                </button>
                Qty: {{item.quantity}}
                <button mat-button>
                    <i class="fa fa-minus" (click)="quantityDown(item)"></i>
                </button>
            </mat-card-content>
            <mat-card-footer>
                Subtotal: {{item.quantity * item.product.price}}
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="row fw-bold fs-4 pt-3">
        <div class="col">TOTAL: {{calculateTotal()}}</div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <button mat-raised-button color="accent" (click)="pay()">Proceed to checkout</button>
        </div>
    </div>
</div>